$space-large: 2.5rem;
$title-colour: #555;
$background-color:rgba(224, 239, 250, 0.28);
$font-color: #263238;
$scape-background-color: #263238;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
  background-color: $background-color;
  font-family: 'Roboto Mono', monospace;
  color: $font-color;
}

.top-bar {
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  padding: 0px;
}

.dropzone {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.menu > li > a{
  padding: 8px;
}

.searchButton {
  background-color: #607D8B;
}

.top-bar ul {
  background-color: white;

  a {
    color: #607D8B;
  }
}

.page-title {
  margin-top: $space-large;
  margin-bottom: $space-large;
  color: $title-colour;
  font-family: 'Roboto Mono', monospace;
}

input [type=search] {
  box-shadow: none;
}

.scape {
  margin: 2em 0em;
  width: 100%;
  background-color: $scape-background-color;
  border-style: solid;
  border-width: 1px;
  border-color: #CFD8DC;
  border-radius: 4px;
  color: white;
}

.scapeProfileImage {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline;
  overflow: hidden;
  margin-top: -4px;
}

.ScapeText {
  font-size: 0.8rem;
  line-height: 34px;
  display: inline;
  // margin-left: 16px;
    p {
      margin-bottom: 0rem;
    }
}

.ScapeDate {
  display: inline;
  padding: 0;
  // margin: 1em;
}

.scapeHeader {
  height:64px;
  padding: 16px 16px;

  a {
    float: right;
    color: white;
  }

  .ScapeText {
    margin-left: 16px;

    p {
      margin-bottom: 0rem;
    }
  }
}

.scapeFooter {
  height:64px;
  padding: 16px 16px;

  a {
    float: right;
    color: white;
  }
}

.scapeImage{
  width: 100%;
}

.scapeMeta{
  background-color: #37474F;
  padding: 16px 24px;
  font-size: 0.8rem;
  line-height: 0.8rem;

  a {
    float: right;
    color: white;
  }

  strong {
    color:#B0BEC5;
  }
}
